{% extends 'base.html' %}
{% load static %}
{% block title %}- Home{% endblock title %}
{% block body-content %}

{% if message %}
<div class="alert alert-success" role="alert">
    Thank you for subscribing to our newsletter.
  </div>
{% endif %}
 <!-- Carousel Start -->
 <div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="https://1.bp.blogspot.com/-Ay1Bg1FWBCY/XuyRBiGQh8I/AAAAAAAAAJk/mu4NNg2nYfgOVGhsUb-yCISeBwQGHHW2wCLcBGAsYHQ/s1600/webmartp.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome To IGOKO</h5>
                            <h2 class="display-3 text-white animated slideInDown mb-4">Digital Media Company</h2>
                            <h1 class="display-3 text-white animated slideInDown mb-4">for Business</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Your One Stop Digital Destination- We Provide All Digital Services Form Wen Designing To SEO To App development services.</p>
                            <a href="http://www.igasolutions.in/#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Start Now</a>
                            <a href="https://www.youtube.com/" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Watch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="https://1.bp.blogspot.com/-Ay1Bg1FWBCY/XuyRBiGQh8I/AAAAAAAAAJk/mu4NNg2nYfgOVGhsUb-yCISeBwQGHHW2wCLcBGAsYHQ/s1600/webmartp.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome To IGOKO</h5>
                            <h2 class="display-3 text-white animated slideInDown mb-4">Digital Media Company</h2>
                            <h1 class="display-3 text-white animated slideInDown mb-4">to Sell Online</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Your One Stop Digital Destination- We Provide All Digital Services Form Wen Designing To SEO To App development services.</p>
                            <a href="http://www.igasolutions.in/#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Start Now</a>
                            <a href="https://www.youtube.com/" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Watch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="https://1.bp.blogspot.com/-Ay1Bg1FWBCY/XuyRBiGQh8I/AAAAAAAAAJk/mu4NNg2nYfgOVGhsUb-yCISeBwQGHHW2wCLcBGAsYHQ/s1600/webmartp.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome To IGOKO</h5>
                            <h2 class="display-3 text-white animated slideInDown mb-4">Digital Media Company</h2>
                            <h1 class="display-3 text-white animated slideInDown mb-4">for Your Ideas</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Your One Stop Digital Destination- We Provide All Digital Services Form Wen Designing To SEO To App development services.</p>
                            <a href="http://www.igasolutions.in/#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Start Now</a>
                            <a href="https://www.youtube.com/" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Watch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-check fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-light-no mb-0">01</h1>
                </div>
                <h5>Creative Designers</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-check fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-light-no mb-0">02</h1>
                </div>
                <h5>Quality Products</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-shuttle-van fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-light-no mb-0">03</h1>
                </div>
                <h5>Free Consultation</h5>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-headphones fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-1 text-light-no mb-0">04</h1>
                </div>
                <h5>Customer Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->



<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="https://1.bp.blogspot.com/-iWzpIBXidjQ/Xu2U6COB8RI/AAAAAAAAAK4/RDGxUu5eSHgPIlbx21yP950w3XvGGm-egCLcBGAsYHQ/s1600/banner-thumb.png" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">About Us</h1>
                    </div>
                    <p class="mb-4 pb-2">We love to create. We at Igoko Avioncs Solutions provides you different kind of digital solutions. Digital Marketing, SEO, Graphic Designing, Anylatics, Adwords, Web Designing, Web Solutions, Branding, Social Media Marketing, Film & Advertisment, Model Photoshoot etc. We have a experience of more than 4years & having many trustable clients</p>
                    <div class="row g-4 mb-4 pb-2">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <i class="fa fa-users fa-2x text-primary"></i>
                                </div>
                                <div class="ms-3">
                                    <h2 class="text-primary mb-1" data-toggle="counter-up">1234</h2>
                                    <p class="fw-medium mb-0">Happy Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <i class="fa fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ms-3">
                                    <h2 class="text-primary mb-1" data-toggle="counter-up">1234</h2>
                                    <p class="fw-medium mb-0">Projects Done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="#" class="btn btn-primary py-3 px-5">Explore More</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Value added WebDesign <span>Services</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/free-vector/website-creator-concept-illustration_114360-2766.jpg?size=626&ext=jpg&uid=R16442453&ga=GA1.1.2015922939.1685452553&semt=ais" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Web Design</h4>
                        <!-- <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p> -->
                        <a class="fw-medium" href="#">Know More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/premium-vector/color-modern-illustration-data-analysis_145666-902.jpg?size=626&ext=jpg&uid=R16442453&ga=GA1.1.2015922939.1685452553&semt=ais" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Digital Marketing</h4>
                        <!-- <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p> -->
                        <a class="fw-medium" href="#">Know More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/free-vector/seo-analytics-concept-illustration_114360-9862.jpg?size=626&ext=jpg&uid=R16442453&ga=GA1.2.2015922939.1685452553&semt=ais" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">SEO Services</h4>
                        <!-- <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p> -->
                        <a class="fw-medium" href="#">Know More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/free-vector/email-marketing-internet-chatting-24-hours-support_335657-3009.jpg?size=626&ext=jpg&uid=R16442453&ga=GA1.2.2015922939.1685452553&semt=ais" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Email Marketing</h4>
                        <!-- <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p> -->
                        <a class="fw-medium" href="#">Know More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/free-vector/influencers-social-media-landing-page_52683-23931.jpg?size=626&ext=jpg&uid=R16442453&ga=GA1.2.2015922939.1685452553&semt=ais" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3">Social Media</h4>
                        <!-- <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p> -->
                        <a class="fw-medium" href="#">Know More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">Web Designing</h1>
                    </div>
                    <p class="mb-4 pb-2">we have successfully created & launched a number of projects across varied niche for professionals like Dentists ,Event,Interior,Gym,yoga,etc, the details of which you can check out in our portfolio.</p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <i class="fa fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Quality</p>
                                    <h5 class="mb-0">Services</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <i class="fa fa-user-check fa-2x text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Creative</p>
                                    <h5 class="mb-0">Designers</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <i class="fa fa-drafting-compass fa-2x text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Free</p>
                                    <h5 class="mb-0">Consultation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <i class="fa fa-headphones fa-2x text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Customer</p>
                                    <h5 class="mb-0">Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="https://img.freepik.com/free-vector/hand-drawn-business-communication-illustration_23-2149152352.jpg?size=626&ext=jpg&uid=R16442453&ga=GA1.2.2015922939.1685452553&semt=ais" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Projects Start -->
{% comment %} 
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Our Projects &amp; Portfolio</h1>
        </div>
        <div class="row mt-2 wow fadeInUp" data-wow-delay="0.3s">
        </div>
        
        <div class="section">
            <div class="widget-content">
              <span data-type="carousel" data-no="10"></span>
            </div>
            
            <div class="widget HTML" data-version="2" id="HTML12">
              <div class="widget-content">
                <div class="box-ui">
                  <div class="ui">
                    <div class="ui_box">
                      <div class="ui_box__inner">
                        <h2>Customer Satisfaction</h2>
                        <p>Customer satisfaction is key to building a successful and sustainable business</p>
                        <div class="stat">
                          <span>99%</span>
                        </div>
                        <div class="progress">
                          <div class="progress_bar"></div>
                        </div>
                        <p>We have a great record of satisfying our clients</p>
                      </div>
                    </div>
                    
                    <div class="ui_box">
                      <div class="ui_box__inner">
                        <h2>Various Categories</h2>
                        <p>Numerous Of Web Designs</p>
                        <div class="stat_left">
                          <ul>
                            <li>Architects</li>
                            <li>Ecommerce</li>
                            <li>Healthcare</li>
                            <li>Furniture</li>
                          </ul>
                        </div>
                        <div class="progress_graph">
                          <div class="progress_graph__bar--1"></div>
                          <div class="progress_graph__bar--2"></div>
                          <div class="progress_graph__bar--3"></div>
                          <div class="progress_graph__bar--4"></div>
                        </div>
                        <p>We have more than 2000+ options to choose from.</p>
                      </div>
                    </div>
                    
                    <div class="ui_box">
                      <div class="ui_box__inner">
                        <h2>Project Completion Record</h2>
                        <p>99% Project Completion Records</p>
                        <div class="stat">
                          <span>Top Dev</span>
                        </div>
                        <div class="progress">
                          <div class="progress_bar--two"></div>
                        </div>
                        <p>We have a record of 99% completion of projects in India as well as abroad.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>
</div> 
{% endcomment %}
<!-- Projects End -->


{% comment %} <!-- Newsletter Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container quote px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="https://img.freepik.com/free-vector/business-people-meeting-co-working-space-business-team-sharing-ideas-discussing-project-workplace-communication-brainstorming-cooperation_74855-8266.jpg?size=626&ext=jpg&uid=R16442453&ga=GA1.2.2015922939.1685452553&semt=ais" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">Subscribe for Newsletter</h1>
                    </div>
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip01" class="form-label">Name</label>
                                <input type="text" name="Name" class="form-control" id="validationTooltip01" required>
                                <div class="valid-tooltip">
                                  Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Please enter a  username.
                                  </div>
                              </div>
                              <div class="col-sm-6 position-relative">
                                <label for="validationTooltip02" class="form-label">E-mail</label>
                                <input type="email" name="email" class="form-control" id="validationTooltip02" required>
                                <div class="valid-tooltip">
                                  Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Please enter an valid e-mail.
                                  </div>
                              </div>
                              <div class="col-sm-6 position-relative">
                                <label for="validationTooltip02" class="form-label">Mobile Number</label>
                                <input type="number" name="number" class="form-control" id="validationTooltip02" required>
                                <div class="valid-tooltip">
                                  Looks good!
                                </div>
                                <div class="invalid-tooltip">
                                    Please enter an mobile number.
                                  </div>
                              </div>
                            <div class="col-sm-6 position-relative">
                                <label for="validationTooltip02" class="form-label">Select a service</label>
                                <select class="form-select border-0" name="services" id="validationTooltip02" style="height: 55px;" required>
                                    <option selected>Select A Service</option>
                                    <option value="1">Web Designing</option>
                                    <option value="2">Email Marketing</option>
                                    <option value="3">SEO</option>
                                </select>
                                <div class="valid-tooltip">
                                    Looks good!
                                  </div>
                                  <div class="invalid-tooltip">
                                    Please choose a service.
                                  </div>
                            </div>
                            <div class="col-12">
                                <label for="validationTooltip02" class="form-label"> Special Note</label>
                                <textarea class="form-control border-0" name="notes" id="validationTooltip02" placeholder="Special Note"></textarea>
                                <div class="valid-tooltip">
                                    Looks good!
                                  </div>
                                  <div class="invalid-tooltip">
                                    Please enter your notes.
                                  </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End --> {% endcomment %}

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Love from Clients</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light p-2 mx-auto mb-3" src="{% static 'images/u2.png' %}" style="width: 90px; height: 90px;">
                <div class="testimonial-text text-center p-4">
                    <p>They have been developing the mobile app for my events, Great Work! Nice team!</p>
                    <h5 class="mb-1">Mayank Jain,</h5>
                    <span class="fst-italic">Event Coordinator</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light p-2 mx-auto mb-3" src="{% static 'images/u1.png' %}" style="width: 90px; height: 90px;">
                <div class="testimonial-text text-center p-4">
                    <p>Their service are beyond words! Never seen someone so quick, Efficient and perfect.</p>
                    <h5 class="mb-1">Ashok Verma</h5>
                    <span class="fst-italic">Founder</span>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid bg-light p-2 mx-auto mb-3" src="{% static 'images/u2.png' %}" style="width: 90px; height: 90px;">
                <div class="testimonial-text text-center p-4">
                    <p>Excellent Organization have been trusting them for a while now. Very Impressed.</p>
                    <h5 class="mb-1">Neha Mishra</h5>
                    <span class="fst-italic">Founder & CMD</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


{% endblock body-content %}